* {
    font-family: 'Raleway', sans-serif;
    margin:0;
    border:0;
    padding:0;
}

:root {
    --azul: #00B4D8;
}

body {
    height: 400px;
    width: 100vw;
    background: #56A4FF !important;
}

.container-login {
    height: 40%;
    width: 60%;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 5px 0.002px gray;
}

.container-login button {
    letter-spacing: 0.75px;
}

.container-logo {
    background-color: rgba(255, 255, 255, 95%);
    width: 100vw;
    height: 15vh;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 80%);;
    font-family: Verdana;
    font-size: 11px;
    margin: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.container-fluid{

    padding: 0;
    background: rgba(0,0,0,0.5) url(../img/background-pill.jpg);
    background-blend-mode:darken ;
}

#container a{
    color: white;
}

.navbar-nav a:hover {
    color: rgb(165, 165, 165) !important;
}

.box-welcome{
    width: 40%;
    height: 250px;
    display: flex;
    justify-content: center;
    background-color: white;
    font-size: 31px;
    border-radius: 17px;
}

.box-principal{
    width: 100%;
    position: absolute;
    top: 375px;
}

.rotulo p {
    cursor: pointer;
}